/*
File: validator_styles.css
Zachary Muranaka
Styles for validator.html
*/

html {
    min-height: 100%;
    background: linear-gradient(to top, rgb(200, 200, 255), white);
}

body {
    max-width: 100%;
    min-width: 320px; /* Narrowest screen in common use */
    margin: 0;
    background-color: white;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

h1 {
    margin: 0;
    padding: 0.5em 0 0.5em 0.5em;
    font-size: 2.25em;
    color: white;
    border: 1px solid white;
    background: linear-gradient(to top, rgb(240, 0, 0), red);
}

/* Input styles */

/* Styles that apply to every input button */
input[type=button] {
    color: ivory;
    height: 2em;
    width: 5em;
    font-size: 2em;
    margin: 0 0 0.5em 0.5em;
    padding: 0;
    cursor: pointer;
}

#validateBtn {
    background: linear-gradient(to top, rgb(150, 125, 0), gold);
    border: 1px solid rgb(80, 60, 0);
}

#validateBtn:active {
    background: linear-gradient(to top, yellow, white);
    color: rgb(30, 15, 0);
}

#startBtn {
    background: linear-gradient(to top, green, rgb(0, 255, 0));
    border: 1px solid rgb(0, 80, 0);
}

#startBtn:active {
    background: linear-gradient(to top, yellow, white);
    color: rgb(0, 30, 0);
}

#stopBtn {
    background: linear-gradient(to top, maroon, red);
    border: 1px solid rgb(80, 0, 0);
}

#stopBtn:active {
    background: linear-gradient(to top, yellow, white);
    color: rgb(30, 0, 0);
}

#clearBtn {
    background: linear-gradient(to top, rgb(255, 45, 70), pink);
    display: inline-block;
    vertical-align: top;
    margin-top: 0.25em;
    width: 10%;
    border: 1px solid rgb(80, 20, 40);
}

#clearBtn:active {
    background: linear-gradient(to top, yellow, white);
    color: rgb(30, 10, 15);
}

#validateTxtBox {
    font-size: 1.4em;
    border: 1px solid black;
}

/* Section styles */

section { margin-top: 0.5em; }

.twoColumn {
    margin-left: 0.5em;
    display: inline-block;
    width: 43%;
}

section h2 {
    margin: 0 0 0.5em 0;
    padding: 0.5em 0 0.5em 0.5em;
    font-size: 1.7em;
}

.displayInline { display: inline; }

.backgroundFill {
    color: white;
    background: linear-gradient(to top, rgb(0, 0, 204), rgb(80, 80, 204));
}

.counter {
    display: inline;
    font-size: 1.5em;
    margin: 0;
    padding-left: 0.3em;
}

section a {
    font-size: 0.85em;
    margin: 0.8em 0 0 0.5em;
    text-decoration: none;
    width: 100%;
}

.invalidLink { color: rgb(220, 0, 30); }

.validLink { color: rgb(0, 120, 30); }

.invalidLink:hover, .validLink:hover { text-decoration: underline; }

.invalidLink:active, .validLink:active { color: yellow; }

/* Styles the label next to the validateTxtBox */
label {
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 0.5em;
}

/* Footer styles */

footer {
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
    color: white;
    width: 100%;
    font-size: 0.8em;
    font-variant: small-caps;
    border: 1px solid black;
    background: linear-gradient(rgb(0, 0, 204), midnightblue);
}

footer a {
    display: inline-block;
    color: white;
    margin: 1em 1em 1em 0;
    text-decoration: none;
}

/* Applies to very small screens, like small phones */
@media screen and (max-width: 380px) {

    h1 span { display: block; }

    div > label { font-size: 1.1em; }

    #validateTxtBox {
        width: 60%;
        left: 20%;
    }

    #startBtn, #stopBtn {
        display: block;
        margin: 0 25% 0.5em 25%;
        width: 50%;
    }

    #clearBtn {
        right: 25%;
        width: 50%;
    }

    section a { font-size: 0.65em; }

}

/* Resizes the URL to better fit the screen size */
@media screen and (min-width: 381px) and (max-width: 429px) {

    div > label { font-size: 1.3em; }

}

/* Style that makes h2s and labels with spans display in two lines */
@media screen and (max-width: 490px) {

    h2 span, label span { display: block; }

}

/* Applies to most mobile views, like phones and smaller tablets */
@media screen and (max-width: 683px) {

    body { text-align: center; }

    h1 { padding-right: 0.5em; }

    .displayInline {
        margin-left: 0;
        padding: 0;
    }

    #validateTxtBox {
        margin-top: 0.5em;
        text-align: center; /* Centers the text within the text box */
    }

    #validateBtn {
        margin-left: 0;
        left: 30%;
        width: 40%;
    }

    .backgroundFill {
        margin-top: 3em;
        padding-right: 0.5em;
    }

    #clearBtn {
        position: absolute;
        margin: 0; /* Its position is absolute so it no longer needs margins */
    }

    label { margin: 0; }

    .counter { padding: 0; }

    .twoColumn {
        margin-left: 0;
        width: 48%;
    }

    section a {
        margin-left: 0;
        text-align: left;
    }

}

/* Styles to make input elements better fit the screen size */
@media screen and (min-width: 381px) and (max-width: 683px) {

    #validateTxtBox {
        width: 50%;
        left: 25%;
    }

    #startBtn, #stopBtn { margin: 0.25em 0 0.5em 0; }

    #clearBtn {
        right: 30%;
        width: 40%;
    }

}

/* Moves the counters below their label */
@media screen and (max-width: 715px) {

    .counter { display: block; }

}

/* Applies to a fairly specific range of medium-sized screens, generally tablets */
@media screen and (min-width: 684px) and (max-width: 715px) {

    #validateTxtBox { width: 35%; }

    #validateBtn { left: 70%; }

    #generator { left: 45%; }

    .twoColumn { width: 38%; }

    #clearBtn { width: 17%; }

    .counter { padding-left: 0.5em; }

}

/* Moves the validateBtn and generator btns below their respective h2 */
@media screen and (max-width: 888px) {

    #validateBtn, #generator {
        display: block;
        position: relative;
        margin-top: 0.5em;
    }

}

/* Applies to large mobile screens, like large tablets */
@media screen and (min-width: 716px) and (max-width: 888px) {

    #validateBtn { left: 75%;}

    #generator { left: 50%; }

    .twoColumn { width: 39%; }

    #clearBtn { width: 16%; }

}

/* Resizes the two columns and the clearBtn to better fit the screen size */
@media screen and (min-width: 889px) and (max-width: 1100px) {

    .twoColumn { width: 40%; }

    #clearBtn { width: 15%; }

}

/* Moves the validation elements below the h2 */
@media screen and (max-width: 1220px) {

    #validation { display: block; }

}

/* Resizes the two columns and the clearBtn to better fit the screen size*/
@media screen and (min-width: 1101px) and (max-width: 1220px) {

    .twoColumn { width: 41%; }

    #clearBtn { width: 14%; }

}
